@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #f8f3f3;
    --link-color: #2563eb;
    --background-color: #2a2929;
    --light-gray:rgb(110, 109, 109);
    --gray: #e3dede;
    --dark-gray: #cbc5c5;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    padding: 0.1rem;
    background-color: var(--background-color);
    text-align: center;
}
.header{
    background-color: var(--background-color);
}
.header_content{
    display: none;
    max-width: 1280px;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 0.625rem;
    font-weight: bold;  
}
.logo_icon{
    height: 5rem;
    width: 5rem;
}
.logo_text{
    font-weight: bold;
    font-size: 2rem;
}
.nav_items{
    display: none;
   gap: 1.8rem;
}
.nav_link{
    color:var(--gray);
    font-weight:600;
    font-size: 1.125rem;
}
.nav_link:hover{
    color: var(--link-color);
}
.contact_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color:var(--primary-color);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact_button:hover{
   background-color: #5254f8;
}
@media (min-width:768px ) {
    .nav_items{
        display: flex;
    }
}
@media (min-width:768px ) {
    .contact_button{
        display: block;
    }
}
.menu-button{
    display:none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    padding: 0.5rem 0.9rem;
    font-weight: 600;

    

}
@media (max-width:768px) {
    .menu-button{
        display: block;
    }
}
.menu-image{
    height: 1.5rem;
    width: 1.5rem;
}
.content{
    background-color: var(--background-color);
}
.main-section{
   max-width: 1280px;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   justify-content:space-around;
   align-items: center;
   gap: 2rem;
}
.left-container{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1.25rem;
   animation: slideFromLeft 1s ease forwards;
   
}
.main-description{
    text-align: start;
}
.head-text{
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--link-color);
   
}
.main-header{
    color: var(--text-color);
    font-size: 4rem;
    text-align: start;
    max-width: 650px;
    font-weight: 600;
}
.main-description{
    max-width: 500px;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
}
.start-tour-buttons{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.start-button{
    border: none;
    border-radius: 0.375rem;
    background-color:var(--primary-color);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color:var(--dark-gray);
    color:var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button:hover{
    background-color: var(--gray);
}
.right-container{
   display:flex;
   justify-content: center;
   align-items: center;
   animation: none;
}
.img-content{
    height: 65vh;
    border: none;
    border-radius: 1.25rem;
    overflow: hidden;
}
.main-image{
   width: 100%;
   height: 100%;
}
.company-section{
    display: flex;
    flex-direction: column;
    animation: slideFromLeft 1s ease forwards;
}
.company-heading{
    font-size: 2.34rem;
    margin-top: 1.5rem;
    color: var(--text-color);
    font-weight: 650;
    margin-top: 2rem;
}
.company-logo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color:rgb(58, 57, 57);
    border: none;
    border-radius: 0.625rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
    max-width: 700px;
   
}
@media screen and (min-width:640px) {
    .company-logo{
        grid-template-columns: repeat(4,1fr);
    }
    .company-text{
        font-size: 2.3rem;
        font-weight: bold;
    }
}
.company{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.company-image{
    height: 1.56rem;
}
.company-text{
    font-size: 1rem;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }  
  100% {
    opacity: 1;
    transform:translateX(0);
  }
}
@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
}
.feature-container{
    background-color: var(--background-color);
    padding: 2.5rem 0;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.feature-title{
    color: var(--text-color);
    font-size: 2.1rem;
    font-weight:bold;
}
.feature-description{
    color: var(--gray);
    font-weight: 400;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (max-width: 768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #4a90e2;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: var(--background-color);
}
.card-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.card-description{
    font-weight: 400;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.card-image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 1.5rem;
    height: 1.5rem;
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
}
.testimonial-content{
    margin: 0 auto;
    max-width: 1280px;
    gap: 1.5rem;
}
.testimonial-heading{
    font-size: 1.815rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.testimonial-grid{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 2rem;
}
.testimonial-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid var(--gray) 0.1px;
    border-radius: 1rem;
    padding: 1.125rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color:rgb(60, 59, 59) ;
}
.testimonial-box:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-desc{
    color: var(--text-color);
   font-size: 0.9rem;
}
.avtar-img{
    height: 5rem;
    width: 5rem;
}
.name{
    color: var(--primary-color);
    font-weight: bold;
}
.avtar-info{
    color: var(--text-color);
    font-size: 0.9rem;
}
.newsletter-container{
    background-color: var(--background-color);
    padding: 4rem 0;
}
.newsletter-content{
    max-width: 1280px;
    background-color: var(--light-gray);
    margin: 0 auto;
    display: flex;
}
.news-left{
    width: 50%;
    display: none;
}
.news-image{
    width: 100%;
    height: 100%;
}
.news-right{
    background-color: rgb(58, 57, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 3rem;
    gap: 1.125rem;
}
@media screen and (min-width:640px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}
.news-head{
    color: var(--text-color);
    font-size: 2.5rem;
}
.sign-title{
    font-size: 1rem;
    color: var(--dark-gray);
}
.news-form{
   padding: 0.3rem;
   display: flex;
   gap: 0.8rem;
}
.email-input{
    background-color: var(--background-color);
    color: #f1eded;
    outline: none;
    border: 1px solid #ccc;
    padding: 0.5rem 0.7rem;
}
.email-input:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.Send{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.Send:hover{
    background-color: var(--link-color);
}
.news-description{
    font-size: 0.76rem;
    color: #d7d3d3; 
}
.link{
    text-decoration: underline;
    color: #96b0ea;
}
.footer-container{
    background-color: var(--background-color);
  
}
.footer-top{
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
@media (max-width:640px) {
    .footer-top{
        flex-direction: column;
    }
    .footer-left{
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.footer-logo{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--text-color);
}
.footer-logo-img{
    height: 1.9rem;
    width: 1.9rem;
}
.logo-feature{
    color: var(--gray);
}
.logo-content{
    display: flex;
    justify-content: start;
    gap: 1rem;
}
.footer-img{
    width: 1.6em;
    height: 1.6rem;
}
.footer-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
h5{
    margin-left: 0;
    text-align: start;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.4rem;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    column-gap: 2rem;
    align-items: start;
   list-style: none;
}
li{
    color: var(--gray);
    font-size: 0.9rem;
    max-width: 7rem;
    max-height: 1.1rem;
    text-align: left;
}
.footer-down{
    margin: auto;
    background-color:var(--background-color);
    max-width: 1280px;
    border-top: solid 1px var(--light-gray);
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 0.78rem;
    color: var(--gray);
}